<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Procesando Datos...">
</ngx-spinner>


<div class="container-scroller" style="font-size: 14px;">


  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <app-navbar></app-navbar>
  </nav>

  <div class="container-fluid page-body-wrapper">

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <app-sidebar></app-sidebar>
    </nav>

    <div class="main-panel">
      <div class="content-wrapper">

        <div class="page-header">
          <h3 class="page-title"> Aplicación Pago </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a>Masivos</a></li>
              <li class="breadcrumb-item active" aria-current="page">Aplicación Pago</li>
            </ol>
          </nav>
        </div>

        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body" style="padding-top: 15px !important; padding-bottom: 15px !important;">
                <a class="card-description text-success" data-toggle="collapse" href="#filtros" role="button"
                  aria-expanded="false" aria-controls="filtros" style="color: #17A589;">Filtros <i
                    class="fas fa-sliders-h"></i></a>

                <div class="collapse" id="filtros">
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <kendo-daterange>
                          <label>
                            <span><b>Inicio</b></span>
                            <div class="espacio"></div>
                            <kendo-dateinput kendoDateRangeStartInput [(ngModel)]="filtros.inicio"
                              style="width: 115px; height: 41.19px;">
                            </kendo-dateinput>
                          </label>
                          <label>
                            <span><b>Fin</b></span>
                            <div class="espacio"></div>
                            <kendo-dateinput kendoDateRangeEndInput [(ngModel)]="filtros.fin"
                              style="width: 115px; height: 41.19px;">
                            </kendo-dateinput>
                          </label>
                        </kendo-daterange>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label><b>N° Identificación</b></label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="filtros.identificacion"
                          placeholder="Ingresar N° Identificación">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group text-right">
                        <div style="padding-top: 22px;"></div>
                        <button class="btn btn-success btn-sm btn-block height-md" (click)="listarPagos()">
                          <i class="mdi mdi-magnify"></i> Buscar &nbsp;&nbsp;
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="table-success text-white">
                        <td>Fecha</td>
                        <td>Cliente</td>
                        <td>Monto</td>
                        <td>Póliza | IdPv</td>
                        <td style="text-align: center"></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="lstPagos.length == 0">
                        <td colspan="5" class="text-center">
                          No existen elementos.
                        </td>
                      </tr>
                      <tr *ngFor="let pago of lstPagos | paginate: { id: 'pago', itemsPerPage: 8, currentPage: p }">
                        <td style="text-align: center">
                          {{ globales.transformarFecha(pago.FechaTransaccion).dia }} <br>
                          {{ globales.transformarFecha(pago.FechaTransaccion).mes }}
                        </td>
                        <td>
                          {{ pago.Factura.Cliente.Identificacion }}<br>
                          <small>
                            {{ pago.Factura.Cliente.PrimerNombre }}
                            {{ pago.Factura.Cliente.SegundoNombre }}
                            {{ pago.Factura.Cliente.Apellido }}
                          </small>
                        </td>
                        <td style="line-height: 38px;">
                          <b style="font-size: 15px !important">$ {{ globales.formatearNumero(pago.Factura.Total,2) }}
                            (USD)</b>
                        </td>
                        <td>
                          {{ pago.Factura.IdPv }}
                        </td>
                        <td style="text-align: center">
                          <button *ngIf="verificarEstado(pago.Factura.Aplicacion) == true" class="btn btn-dark btn-sm"
                            (click)="generarListaPagosAplicacion(pago)">
                            <i class="mdi mdi-marker-check"></i>
                          </button>
                          <i *ngIf="verificarEstado(pago.Factura.Aplicacion) == false" class="mdi mdi-check-circle"
                            style="color: #17A589; font-size: 35px;"></i>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="lstPagos.length > 8">
                      <tr>
                        <td colspan="5">
                          <pagination-controls id="pago" (pageChange)="p = $event" maxSize="8" autoHide="true"
                            responsive="true" previousLabel="Anterior" nextLabel="Siguiente" class="paginacion">
                          </pagination-controls>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a
              target="_blank">Innovacloud</a>. Todos los derechos reservados.</span>
        </div>
      </footer>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalPagos" tabindex="-1" role="dialog" aria-labelledby="ModalPagosTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Cuotas del Cliente</h5>
      </div>
      <div class="modal-body">

        <table class="table table-bordered">
          <tr class="table-success text-white">
            <td><b>Id Pv</b></td>
            <td><b>Cuota</b></td>
            <td><b>Monto</b></td>
            <td style="text-align: center"><b>Aplicar</b></td>
          </tr>
          <tr *ngFor="let cuotas of lstPagosAplicar">
            <td>{{ cuotas.IdPv }}</td>
            <td>{{ cuotas.Cuotas }}</td>
            <td>$ {{ globales.formatearNumero(cuotas.Total,2) }}</td>
            <td style="text-align: center">
              <button *ngIf="cuotas.EstadoCuota == 0" class="btn btn-dark btn-sm" (click)="consultarBin(cuotas)">
                <i class="mdi mdi-marker-check"></i>
              </button>
              <i *ngIf="cuotas.EstadoCuota == 1" class="mdi mdi-check-circle"
                style="color: #17A589; font-size: 35px;"></i>
            </td>
          </tr>
          <tr *ngIf="lstPagosAplicar.length == 0">
            <td colspan="4">
              No exiten cuotas para aplicar.
            </td>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>