.contenedor {
  padding-left: 4px;
  padding-right: 20px;
  font-size: 13.5px;
}

.contenedor-transaccion-header {
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
  font-size: 13.5px;
  padding: 20px;
  padding-bottom: 8px !important;
  width: 100%;
}

.contenedor-transaccion {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  padding: 5px;
  font-size: 13.5px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.contenedor-transaccion-footer {
  border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  font-size: 13.5px;
  padding: 20px;
  padding-top: 8px !important;
  width: 100%;
}

.contenedor-informacion {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  font-size: 13.5px;
  padding: 20px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}

.espacio {
  display: none;
}

.espacio2 {
  display: inline;
}

@media screen and (max-width: 768px) {
  .derecha {
    padding-right: 0px !important;
  }
  .espacio {
    display: inline;
  }
  .espacio2 {
    display: none;
  }
}

a {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  padding: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 13.5px !important;
  width: 100%;
}

a {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
